[Unit]
Description=ydotool daemon
Documentation=man:ydotoold(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
