[Unit]
Description=ydotool daemon
Documentation=man:ydotoold(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold
ExecStartPost=/bin/sh -c 'while [ ! -S /tmp/.ydotool_socket ]; do sleep 0.1; done; chgrp input /tmp/.ydotool_socket && chmod 660 /tmp/.ydotool_socket'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
